/* this file is loaded by index.html and styles the page */

@font-face {
  src: url(/fonts/Circular.otf);
  font-family: "BrushFont";
}

.light {
--TextColor: #1D3557;
--BackgroundColor: #F1FAEE;
--PowderBlue: #A8DADC;
--RedAccent: #E63946;
}

.dark {
  --TextColor: #F1FAEE;
  --BackgroundColor: #1D3557;
  --PowderBlue: #A8DADC;
  --RedAccent: #E63946;
}

* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 2s, background 2s;
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  background-color: var(--BackgroundColor);
  color: var(--TextColor);
}